/*body {
	height: 100%;
}*/
.navbar-default {
/*	background-color: #D1681B;*/
	opacity: .9;
	width: 100px;
}
.navbar {
	margin-bottom: 0px;
	border: none;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	}
/*}
.navitem{
	color: black !important;
}*/
.navbar-brand {
	font-size: 15px;
	color: black !important;
	font-weight: bold;
	
}

.leftsy {
	position: relative;
	width: 100%;

}
.containerrow {
	padding: 3%;
}
.heder {
/*	margin-top: 60px;*/
	margin-top: -5vh;

	background-image: url(../images/art.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	border-bottom: solid 5px #D1681B;

}
.hedcontent {

	background-color: rgba(0,0,0,.3);
	height: 100vh;
}
.contabout{
	margin-top: 60px;
	padding-top: 160px;
	background-image: url(../images/cust2.jpg);
	background-size: 200% 150%;
			background-position: 65% 9%;
	background-image: top;
	height: 250px;
	border-radius: 100%;
	border-style: solid;
	border-color: White;
	border-top: 40px;
	width:250px;
margin-left: auto;
	margin-right: auto;
	text-align: center

}
.pcont {
	margin-top: 30px;
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.pot {
/*	margin-top: 10px;*/
	
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.rowinfo {
	margin-top: 50px;
	height: 500px;
}

#contact{
background-color: #ECECEC;
height: 1010px;
  padding:40px;
  color:black;
  border-top: solid #DEDEDE 5px;
 /* border-top:#333 7px solid;
  border-bottom:#333 7px solid;*/
}

#contact2{
background-color: white;
	height: 5px !important;
  padding:40px;
  color:black;
  border-top: solid #DEDEDE 5px;
 /* border-top:#333 7px solid;
  border-bottom:#333 7px solid;*/
}
.portfoliobut{
	margin-top: 27%;
	margin-left: 46%;
	opacity: .7;
	position: absolute;
	font-size: 160%;
}
.portfoliobut:hover {
	background: grey;
	opacity: .5;
}
.text {
	font-family: 'Rajdhani', sans-serif;

	font-style: thin;
	position: absolute;
	color: white;
	font-size: 200%;
	margin-top:22%;
	margin-left: 46%;

}

.text1{
	font-family: 'Rajdhani', sans-serif;

	font-style: thin;
	position: absolute;
	color: white;
	font-size: 200%;
	margin-top:24%;
	margin-left: 37%;

}


.icon {
	padding: 30px 60px 30px 60px;
}
.iskil {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}
.footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F9F9F9;
  color: grey;
  height: 5%;
  font-size: 80%;
  text-align: center;
}